#addTimeVoting{
    height: 52vh;
    border: solid;
    width: 21vw;
    border-radius: 29px;
    margin-left: 37%;
    position: absolute;
    margin-top: 8%;
    background-color: #bae6f0;
    color: #538fd2;
    direction: rtl;
    padding: 2%;
    text-align: right;
    line-height: 15.9px;
}
#ok{
    margin-right: 42%;
}