
<form id="addTimeVoting">
    <label>הכנס קוד בחירות:</label>
    <input class="form-control" type="number" id="kodVote" [(ngModel)]="formVoting.kodVote" name="kodVote">
    <br>
    <label>הכנס תאריך בחירות:</label>
    <input class="form-control" type="date" name="dateVote" [(ngModel)]="formVoting.dateVote">
    <br>
    <label>הכנס פתיחת קלפיות:</label>
    <input class="form-control" type="time" name="ballotsOpen" [(ngModel)]="formVoting.ballotsOpen">
    <br>
    <label>הכנס סגירת קלפיות</label>
    <input class="form-control" type="time" name="ballotsClose" [(ngModel)]="formVoting.ballotsClose">
    <br>
    <br>
    <input class="form-control" class="btn btn-info" type="submit" id="ok" value="אישור" (click)="saveTimeVoting()">
  </form>