<table>
  <br>
  <br>
  <br>
  <input type="text" id="getIdentity" placeholder="הכנס תעודת אזרח" [(ngModel)]="tz">
  <input type="button" id="searchNational" value="חיפוש" (click)="searchNationalByTz()"> 
    <!-- <h1 id="headerToVoting">כל הבוחרים בקלפי זה</h1> -->
  <tr>
    <td>תעודת זהות</td>
    <td>שם מלא</td>
    <td>רחוב</td>
    <td>מיקוד</td>
    <td>מספר בית</td>
    <!-- <td>קוד עיר</td>
    <td>מספר קלפי</td> -->
    <td>אישור בוחר</td>
    <!-- <td>האם בחר?</td> -->
  </tr>
  <!-- מעבר על המערך של האזרחים באותו קלפי -->
  <tr *ngFor="let arr of arrNational">
    <td>{{arr.Identity}}</td>
    <td>{{arr.fullName}}</td>
    <td>{{arr.street}}</td>
    <td>{{arr.zipCode}}</td>
    <td>{{arr.numHouse}}</td>
    <!-- <td>{{arr.city}}</td>
    <td>{{arr.numBallot}}</td> -->
    <td>
      <!-- כפתור אישור לא עובד -->
      <input type="button" value="אישור" (click)="openFactionBlock()">
    </td>
  </tr>
</table>