#enterTz{
    margin-top: 10%;
    margin-left: 44%;
    position: absolute;
    height: 6.5%;
    direction: rtl;
    text-align: right;
}

#buttonToEnter{
    position: absolute;
    top: 21vh;
    left: 36vw;
}