<!-- <div id="headerInHome">
    <div id="header" class="tags">
        <a routerLink="headManager" (click)="kindOfManager(1)">ראשי</a>
    </div>
    
    <div id="city" class="tags">
        <a routerLink="cityManager" (click)="kindOfManager(2)">ערים</a>
    </div>

    <div id="ballotBox" class="tags">
        <a routerLink="ballotBoxManager" (click)="kindOfManager(3)">קלפיות</a>
    </div>
    <img id="logo" src="..\..\assets\factionPic\logoturkiz.png">

</div>

<img id="mainPic" src="..\..\assets\factionPic\menoraNew.png"> -->
<!-- <router-outlet></router-outlet>  -->
<!-- <nav class="navbar fixed-top navbar-light bg-light"> -->
<!-- <a class="navbar-brand" href="#">כניסת מנהל ראשי</a>
    <a class="navbar-brand" href="#">כניסת מנהל עיר</a>
    <a class="navbar-brand" href="#">כניסת מנהל קלפי</a> -->

<!-- </nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="direction: rtl;">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <img id="logo" src="..\..\assets\factionPic\logoturkiz.png">

            <li class="nav-item">
                <a class="nav-link" routerLink="headManager" (click)="kindOfManager(1)">כניסת מנהל ראשי</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="cityManager" (click)="kindOfManager(2)">כניסת מנהל עיר</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="ballotBoxManager" (click)="kindOfManager(3)">כניסת מנהל קלפי</a>
            </li>
        </ul>
    </div>
</nav>
<img id="mainPic" src="..\..\assets\factionPic\menoraNew.png">
<router-outlet></router-outlet>