// a{
//     margin: -13vw;
//     margin-left: 26%;
//     font-size: 3vw;
//     color: white;
// }
// // #headerInHome{
// //     background-color: grey;
// // }
#mainPic{
    width: 71vw;
    height: 88vh;
    margin-left: 12%;
   position: absolute;
    margin-top: 2%;
}

#logo{
    width: 6vw;
    height: 11vh;
    margin-right: 89%;
    position: absolute;
    margin-top: -0.5%;
}
// #header{
//     margin-left:69%;
// }

// #city{
//     margin-left:49%;
// }

// #ballotBox{
//     margin-left:29%;
// }

// .tags{
//     width: 184px;
//     height: 66px;
//     border-radius: 357px;
//     background: #26a6c4;
//     display: inline-block;
//     position: absolute;
//     font-family: fb;
// }