
// מנהל ראשי
#enterHeadManager{
    height: 49vh;
    display: inline-block;
    direction: rtl;
    border: solid;
    width: 21vw;
    padding: 2%;
    margin-left: -30%;
    position: absolute;
    margin-top: 10%;
    border-radius: 29px;
}
// מנהל עיר
#enterCityManager{
    height: 56vh;
    display: inline-block;
    direction: rtl;
    border: solid;
    width: 21vw;
    padding: 2%;
    margin-left: -30%;
    position: absolute;
    margin-top: 8%;
    border-radius: 29px;
}
// מנהל קלפי
#enterBallotBoxManager{
    height: 63vh;
    display: inline-block;
    direction: rtl;
    border: solid;
    width: 21vw;
    padding: 2%;
    margin-left: -30%;
    position: absolute;
    margin-top: 8%;
    border-radius: 29px;
}
//כפתור כניסה מה-logIn
#enter{
    margin-left: 5vw;
}