
// מנהל ראשי
#enterHeadManager{
    height: 34vh;
    border: solid;
    width: 21vw;
    border-radius: 29px;
    margin-left: 42%;
    position: absolute;
    margin-top: 12%;
    background-color: #bae6f0;
    color: #538fd2;
    padding: 2%;
    direction: rtl;
}
// מנהל עיר
#enterCityManager{
    height: 34vh;
    border: solid;
    width: 21vw;
    border-radius: 29px;
    margin-left: 42%;
    position: absolute;
    margin-top: 12%;
    background-color: #bae6f0;
    color: #538fd2;
    padding: 2%;
    direction: rtl;

}
// מנהל קלפי
#enterBallotBoxManager{
    height: 35vh;
    border: solid;
    width: 21vw;
    border-radius: 29px;
    margin-left: 42%;
    position: absolute;
    margin-top: 12%;
    background-color: #bae6f0;
    color: #538fd2;
    padding: 2%;
    direction: rtl;
}
//כפתור כניסה מה-logIn
#enter{
    margin-left: 5vw;
}