#buttonToEnter{
    margin-top:2%;
    position: absolute;
}

#enterTz{
    margin-top: 10%;
    margin-left: 44%;
    position: absolute;
    height: 8%;
}

#buttonToEnter{
    position: absolute;
    margin-top: 10%;
    margin-left: 24%;
}
