<input type="button" class="btn btn-secondary btn-lg" (click)="managerList()" value=" מנהלי ערים">
<br>
<input type="button" class="btn btn-secondary btn-lg" value="בחר מפלגות מתוך הרשימה" (click)="chooseAgreeFaction()">
<br>
<!-- הכפתור לא יהיה מאופשר עד לסיום הבחירות -->
<input type="button" class="btn btn-secondary btn-lg" id="showResult"  value="צפה בתוצאות ספירת קולות" [disabled]="closeBallotBox()" (click)="addHeadManager()">
<br>
<input type="button" class="btn btn-secondary btn-lg" id="timeVoting"  value="הכנס זמני פתיחת וסגירת קלפיות" (click)="addtimeVoting()">