<input class="buttonOfHeadManager btn btn-secondary btn-lg" id="addCityManager" type="button" value="הכנסת מנהלי ערים" (click)="addHeadManager()">
<br>
<br>
<br>
<br>
<input class="buttonOfHeadManager btn btn-secondary btn-lg" id="selectFactionInList" type="button" value="בחר מפלגות מתוך הרשימה" (click)="chooseAgreeFaction()">
<br>
<br>
<br>
<br>
<!-- הכפתור לא יהיה מאופשר עד לסיום הבחירות -->
<input class="buttonOfHeadManager btn btn-secondary btn-lg" id="showResult" type="button" value="צפה בתוצאות ספירת קולות" [disabled]="closeBallotBox()" (click)="addHeadManager()">
<br>
<br>
<br>
<br>
<input class="buttonOfHeadManager btn btn-secondary btn-lg" id="timeVoting" type="button" value="הכנס זמני פתיחת וסגירת קלפיות" (click)="addtimeVoting()">