<div class="wrapper text-center"> 
  <h1 id="titleOfblockVote">בחר את המפלגה שברצונך</h1>
  <div class="row">
  <div class="col-auto" *ngFor="let p of arrFaction">
      <!-- בעת לחיצה על תמונה ישמר קוד המפלגה -->
      <div class="img" [class.active-faction]="p.Id == idFaction" (click)="clickOnFactionPic(p.Id)" [style.backgroundImage]="'url(../../../assets/factionPic/' + p.factionPic + ')'"></div>
  </div>
</div>

<!-- רק בעת לחיצה על אישור יתווסף קול למפלגה ר -->
<input class="btn btn-secondary btn-lg" type="button" value="אישור בחירה" (click)="okFaction()">
</div>

<!-- איך אפשר לא לשלוח סיסמא דרך הניתוב -->