#titleOfblockVote{
    color: blue;
    margin-top: 6%;
    margin-left: 37%;
}

.wrapper {
    position: absolute;
    width: 100%;
}

.img {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 5px;
    cursor: pointer;

    &.active-faction {
        border: 2px solid red;
    }
}
// חזרה למנהל ראשי
#return{
    width: 10%;
    height: 1%;
}

