<div class="wrapper text-center"> 
    <h1 id="titleOfblockVote">בחר את המפלגות המאושרות לשנה זו</h1>
    <div class="row">
    <div class="col-auto" *ngFor="let p of arrFaction">
        <!-- בעת לחיצה על תמונה ישמר קוד המפלגה -->
        <div class="img" [class.active-faction]="p.Id == idFaction" (click)="clickOnFactionPic(p.Id)" [style.backgroundImage]="'url(../../../assets/factionPic/' + p.factionPic + ')'"></div>
        <input type="button" value="אישור"  (click)="agreeOrNotFaction(p.Id)">
        <input type="button" value="ביטול"  (click)="agreeOrNotFaction(p.Id)">
      </div>
  </div>